.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  //   padding: 4px;

  position: static;
  width: 1355px;
  // height: 56px;
  min-height: 56px;
  // overflow: hidden;
  // height: auto;
  left: 0px;
  top: 0px;

  /* Neutral/White */

  // background: #ffffff;
  background: #f8f9fa;
  /* Border-bottom */
  box-shadow: inset 0px -1px 0px #eff1f3;
    

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;

  position: static;
  width: 378px;
  // height: 34px;
  min-height: 34px;
  left: calc(50% - 378px / 2 - 488.5px);
  top: calc(50% - 34px / 2);

  /* Neutral/Lightest */

  background: #f8f9fa;
  box-shadow: inset 0px -1px 0px #eff1f3;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.label {
  position: static;
  // min-width: 182px;
  min-height: 28px;
  width: 182px;
  // height: 28px;
  left: 10px;
  top: 10px;

  /* Text/Subhead */

  font-family: var(
    --font-family,
    "Averta",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    "sans-serif"
  );
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  /* Neutral/Darkest */

  color: #2d2d2d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
.one {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  padding-left: 13px;

  position: static;
  width: 220px;
  height: 34px;
  left: calc(50% - 220px / 2 - 189.5px);
  top: calc(50% - 34px / 2);

  /* Neutral/Lightest */

  background: #f8f9fa;
  // box-shadow: inset 0px -1px 0px #eff1f3;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.two {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;

  position: static;
  width: 220px;
  height: 34px;
  left: calc(50% - 220px / 2 + 30.5px);
  top: calc(50% - 34px / 2);

  /* Neutral/Lightest */

  background: #f8f9fa;
  // box-shadow: inset 0px -1px 0px #eff1f3;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.three {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  padding-left: 10px;

  position: static;
  width: 220px;
  height: 34px;
  left: calc(50% - 220px / 2 + 250.5px);
  top: calc(50% - 34px / 2);

  /* Neutral/Lightest */

  background: #f8f9fa;
  /* Border-bottom */

  // box-shadow: inset 0px -1px 0px #eff1f3;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.four {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;

  position: static;
  width: 220px;
  height: 34px;
  left: calc(50% - 220px / 2 + 470.5px);
  top: calc(50% - 34px / 2);

  /* Neutral/Lightest */

  background: #f8f9fa;
  // box-shadow: inset 0px -1px 0px #eff1f3;

  /* Inside auto layout */

  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 6px 6px 6px 16px;

  position: static;
  width: 57px;
  height: 28px;
  left: 10px;
  top: 10px;

  /* Neutral/White */

  background: #ffffff;
  color: #2d2d2d;
  font-family: var(
    --font-family,
    "Averta",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    "sans-serif"
  );
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* Neutral/Dark */

  border: 1px solid #a0a5ab;
  box-sizing: border-box;
  border-radius: 3px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.side {
  position: static;
  width: 42px;
  height: 24px;
  left: 40px;
  top: 0px;

  /* Text/Body */

  font-family:var(--font-family,"Averta","Helvetica Neue","Helvetica","Arial","sans-serif");
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Neutral/Darkest */

  color: #2d2d2d;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 10px;
}
