.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 1355px;
  height: 45px;
  left: 0px;
  top: 0px;

  /* Neutral/Lightest */

  background: #f8f9fa;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.one {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;

  position: static;
  width: 378px;
  height: 34px;
  left: calc(50% - 378px / 2 - 488.5px);
  top: calc(50% - 34px / 2);

  /* Neutral/Lightest */

  background: #f8f9fa;
  box-shadow: inset 0px -1px 0px #eff1f3;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.label {
  position: static;
  // width: 150px;
  height: 16px;
  left: 8px;
  top: 20px;

  /* Text/Table Heading */

  font-family:var(--font-family,"Averta","Helvetica Neue","Helvetica","Arial","sans-serif");
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  text-transform: uppercase;

  /* Neutral/Darker */

  color: #696c74;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}
#icon {
  // position: relative;
  // left: 12.5%;
  // right: 12.5%;
  // top: 25%;
  // bottom: 25%;

  /* Gray 4 */
  color: #696c74;
  font-size: 1rem;
  margin-right: 5px;
  // margin: 1px;
  // height: 50px;
  // width: 12px;
  // left: 2px;
  // top: 4px;
  // border-radius: 0px;

  // background: #bdbdbd;
  :hover {
    cursor: pointer;
  }
}
.two {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;

  position: static;
  width: 220px;
  height: 34px;
  left: calc(50% - 220px / 2 - 189.5px);
  top: calc(50% - 34px / 2);

  /* Neutral/Lightest */

  background: #f8f9fa;
  box-shadow: inset 0px -1px 0px #eff1f3;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.three {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;

  position: static;
  width: 220px;
  height: 34px;
  left: calc(50% - 220px / 2 + 30.5px);
  top: calc(50% - 34px / 2);

  /* Neutral/Lightest */

  background: #f8f9fa;
  box-shadow: inset 0px -1px 0px #eff1f3;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.four {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;

  position: static;
  width: 220px;
  height: 34px;
  left: calc(50% - 220px / 2 + 250.5px);
  top: calc(50% - 34px / 2);

  /* Neutral/Lightest */

  background: #f8f9fa;
  /* Border-bottom */

  box-shadow: inset 0px -1px 0px #eff1f3;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.five {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;

  position: static;
  width: 220px;
  height: 34px;
  left: calc(50% - 220px / 2 + 470.5px);
  top: calc(50% - 34px / 2);

  /* Neutral/Lightest */

  background: #f8f9fa;
  box-shadow: inset 0px -1px 0px #eff1f3;

  /* Inside auto layout */

  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
