.entry_div{
    /* New_Apply charges_Table_data */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 1325px;
height: 40px;
left: 0px;
top: 34px;

background: #FFFFFF;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}

.entry_name{
    /* _Table-Text */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 0px 8px 8px;

position: static;
width: 180px;
left: calc(50% - 180px/2 - 572.5px);
top: 0%;
bottom: 0%;

background: #FFFFFF;
mix-blend-mode: multiply;
box-shadow: inset 0px -1px 0px #EFF1F3;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}

.name_div{
    /* Frame 2 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 120px;
height: 24px;
left: 8px;
top: 8px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
//margin: 0px 8px;
}

.name_label{
/* LABEL */


position: static;
width: 120px;
height: 24px;
left: 0px;
top: 0px;

/* Text/Body */

font-family: 'Averta';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Neutral/Darkest */

color: #2D2D2D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.entry_class{
    /* _Table-Text */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 0px;

position: static;
width: 200px;
left: calc(50% - 200px/2 - 382.5px);
top: 0%;
bottom: 0%;

background: #FFFFFF;
mix-blend-mode: multiply;
box-shadow: inset 0px -1px 0px #EFF1F3;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}

.class_div{
    /* Frame 2 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 81px;
height: 24px;
left: 8px;
top: 8px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
//margin: 0px 8px;
}

.class_label{
    /* LABEL */


position: static;
width: 128px;
height: 24px;
left: 0px;
top: 0px;

/* Text/Body */

font-family: 'Averta';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Black */

color: #0F172A;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.entry_date{
    /* _Table-Text */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 8px 0px;

position: static;
width: 170px;
left: calc(50% - 170px/2 - 197.5px);
top: 0%;
bottom: 0%;

background: #FFFFFF;
mix-blend-mode: multiply;
box-shadow: inset 0px -1px 0px #EFF1F3;

/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;

}

.date_label{
    /* LABEL */


position: static;
width: 151px;
height: 24px;
left: 0px;
top: 0px;

/* Text/Body */

font-family: 'Averta';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Neutral/Darkest */

color: #2D2D2D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.entry_pricing{
    /* _Table-Text */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 8px 0px;

position: static;
width: 215px;
left: calc(50% - 215px/2 - 5px);
top: 0%;
bottom: 0%;

background: #FFFFFF;
mix-blend-mode: multiply;
box-shadow: inset 0px -1px 0px #EFF1F3;

/* Inside auto layout */

flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}

.pricing_label{
/* LABEL */


position: static;
width: 167px;
height: 24px;
left: 0px;
top: 0px;

/* Text/Body */

font-family: 'Averta';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Neutral/Darkest */

color: #2D2D2D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.entry_cancel{
    /* _Table-Text */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 8px 0px;

position: static;
width: 110px;
left: calc(50% - 110px/2 + 157.5px);
top: 0%;
bottom: 0%;

background: #FFFFFF;
mix-blend-mode: multiply;
box-shadow: inset 0px -1px 0px #EFF1F3;

/* Inside auto layout */

flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}

.cancel_div{
    /* Frame 2 */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 16px 0px 0px;

position: static;
width: 81px;
height: 24px;
left: 8px;
top: 8px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
//margin: 0px 8px;
}

.cancel_label{
    /* LABEL */


position: static;
width: 9px;
height: 24px;
left: 0px;
top: 0px;

/* Text/Body */

font-family: 'Averta';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Black */

color: #0F172A;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.entry_waive{
  
/* _Table-Text */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 8px 0px;

position: static;
width: 130px;
left: calc(50% - 130px/2 + 277.5px);
top: 0%;
bottom: 0%;

background: #FFFFFF;
mix-blend-mode: multiply;
box-shadow: inset 0px -1px 0px #EFF1F3;

/* Inside auto layout */

flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}

.entry_charges{
   /* _Table-Text */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 8px 0px;

position: static;
width: 160px;
left: calc(50% - 160px/2 + 422.5px);
top: 0%;
bottom: 0%;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px #EFF1F3;

/* Inside auto layout */

flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}

.charges_div{
    /* Frame 2 */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 16px 0px 0px;

position: static;
width: 81px;
height: 24px;
left: 63px;
top: 8px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 8px;
}

.charges_label{
    /* LABEL */


position: static;
width: 28px;
height: 24px;
left: 0px;
top: 0px;

/* Text/Body */

font-family: 'Averta';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Black */

color: #0F172A;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.entry_type{
/* _Table-Text */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 8px 0px;

position: static;
width: 157px;
left: calc(50% - 160px/2 + 582.5px);
top: 0%;
bottom: 0%;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px #EFF1F3;

/* Inside auto layout */

flex: none;
order: 7;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}

.type_div{
    /* Checkbox/Signle */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 151px;
height: 24px;
left: 16px;
top: 8px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
//margin: 0px 8px;
}


.type_checkbox{
    /* Default */


position: static;
left: 0%;
right: 84.11%;
top: 0%;
bottom: 0%;

/* Neutral/White */

background: #FFFFFF;
/* Neutral/Dark */

border: 1px solid #A0A5AB;
box-sizing: border-box;
border-radius: 3px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;
}

.type_checkbox:not(:checked) {
    background: white;
}

.type_label{
    /* Label */


position: static;
width: 111px;
height: 24px;
left: 40px;
top: 0px;

/* Text/Body */

font-family: 'Averta';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Neutral/Darkest */

color: #2D2D2D;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
//margin: 0px 16px;
}