@font-face {
  font-family: 'Averta';
  src: url(../../AvertaDemo-Regular.otf);
}

.display_header {
  /* Frame 763 */
  /* Auto layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  position: static;
  width: 1327px;
  height: 40px;
  left: 24px;
  top: 76px;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 20px 0px;
}

.member_label {
  /* Frame 330 */
  /* Auto layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  position: static;
  width: 906px;
  height: 28px;
  left: 0px;
  top: 6px;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.member_details {
  /* Member Details */
  position: static;
  width: 906px;
  height: 28px;
  left: 0px;
  top: 0px;
  /* Display/Desktop/H4 */
  font-family: var(--font-family, "Averta", "Helvetica Neue", "Helvetica", "Arial", "sans-serif");
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  /* Neutral/Darkest */
  color: #2d2d2d;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px 2px;
}

.action_div {
  /* Frame 762 */
  /* Auto layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 273px;
  height: 40px;
  left: 1054px;
  top: 0px;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.filter {
  /* edit */
  /* Auto layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px;
  position: static;
  width: 92px !important;
  height: 40px;
  left: 0px;
  top: 0px;
  font-family: var(--font-family, "Averta", "Helvetica Neue", "Helvetica", "Arial", "sans-serif");
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* Neutral/Dark */
  border: 1px solid #a0a5ab;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  /* Inside auto layout */
}

.button_apply {
  /* Button/Default */
  /* Auto layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 141px;
  height: 40px;
  left: 40px;
  top: 0px;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 40px;
}

.button_apply:hover .button_label {
  color: #2d2d2d;
}

.button_label {
  /* Label */
  position: static;
  height: 24px;
  left: 16px;
  right: 16px;
  top: 8px;
  /* Text/Body */
  font-family: var(--font-family, "Averta", "Helvetica Neue", "Helvetica", "Arial", "sans-serif");
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  /* Neutral/White */
  color: #ffffff;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 8px;
}
/*# sourceMappingURL=Header.module.css.map */