.search {
  /* Frame 784 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 1321px;
  height: 40px;
  left: 27px;
  top: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0px;
}

.searchbox {
  /* Frame 782 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 347px;
  height: 40px;
  left: 0px;
  top: 0px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

::placeholder {
  /* Search Client Name, Client ID */

  position: static;
  width: 299px;
  height: 24px;
  left: 40px;
  top: 8px;

  /* Text/Body */

  // font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Neutral/Darkest */

  color: #2d2d2d;

  opacity: 0.5;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 8px;
}
