@font-face {
  font-family: "Averta";
  src: url(../../assets/AvertaStd-Regular.ttf);
}

.firstpage{
  background-color: #F3F0EF ;
}
.header {
  /* Frame 794 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 16px;

  position: absolute; //absolute to .firstpage
  width: 1383px;
  height: 60px;
  left: 13px;
  top: 162px;
  // background-color: bisque;
  margin-bottom: 5px;
}

#buttonstyles {
  /* _primary-small */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 32px;
  width: 81px;
  /* Mindbody Business/Base */

  background: #0a7c8e;
  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;

  cursor: pointer;
  border: none;
}

.headname {
  /* Frame 793 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 1238px;
  height: 60px;
  left: 16px;
  top: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  // background-color: aquamarine;
  margin-right: 33px;
  // background-color: aqua;
}

#title {
  /* Member Classification */

  position: static;
  width: 387px;
  height: 36px;
  left: 0px;
  top: 0px;

  /* Display/Desktop/H3 */

  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  /* Neutral/Darkest */

  color: #2d2d2d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}

#pages {
  /* Page/Breadcrumbs */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  left: 0%;
  right: 77.46%;
  top: 73.33%;
  bottom: 0%;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
  // background-color: #faf3f3;
}

#page1 {
  /* 01 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 100px;
  height: 16px;
  left: 0px;
  top: 0px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;

  /* Text/Body Small */

  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Neutral/Darker */

  color: #696c74;
}

#page2 {
  /* 01 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 150px;
  height: 16px;
  left: 119px;
  top: 0px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;

  /* Text/Body Small */

  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Neutral/Darker */

  color: #696c74;
}

// .arrow {
//   color: #696c74;
//   width: 5.5px;
//   height: 12.5px

// }
#arrow1,
#arrow2 {
  color: #696c74;
  width: 15.5px;
  height: 18.5px;
}

.whitespace {

  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  position: absolute;
  width: 1360px;
  height: 712px;
  left: 24px;
  top: 259px;

  /* Neutral/White */

  background: #ffffff;
  border-radius: 3px;
  font-family: "Averta";
}
._header {
  /* Frame 7 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;

  position: static;
  width: 1336px;
  height: 32px;
  left: 16px;
  top: 586px;

  /* Neutral/Lighter */

  background: #eff1f3;
  border: none;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 10px;

  cursor: pointer;
}

._ui_title {
  /* Manage Classes */

  position: static;
  width: 1294px;
  height: 26px;
  left: 54px;
  top: 15px;

  /* Display/Mobile/H4 */

  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: start;
  /* identical to box height, or 144% */

  /* Neutral/Darkest */

  color: #2d2d2d;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
  margin-left: 10px;
}

// .edit_manage_class {
//   /* Frame 812 */

//   /* Auto layout */

//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   padding: 8px 16px 16px;

//   position: absolute;
//   width: 1355px;
//   height: 506px;

//   /* Neutral/White */

//   background: #FFFFFF;//#e8f388;
// }

.icons {
  color: #696c74;
  height: 32px;
  width: 32px;
}

// <HomeIcon style={{ color: green[500] }} />
