@font-face {
  font-family: "Averta";
  src: url(../../assets/AvertaStd-Regular.ttf);
}

.firstpage {
  background-color: #f3f0ef;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 16px;

  position: absolute; //absolute to .firstpage
  width: 1383px;
  height: 60px;
  left: 13px;
  top: 162px;
  // background-color: bisque;
  margin-bottom: 5px;
}

#buttonstyles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 21px;

  position: static;
  height: 40px;
  width: 97px;
  background: #0a7c8e;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
}

.headname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 1238px;
  height: 60px;
  left: 16px;
  top: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  // background-color: aquamarine;
  margin-right: 33px;
  // background-color: aqua;
}

#title {
  position: static;
  width: 387px;
  height: 36px;
  left: 0px;
  top: 0px;
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  color: #2d2d2d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}

#pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  // padding: 0px;

  position: static;
  left: 0%;
  right: 77.46%;
  top: 73.33%;
  bottom: 0%;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
  // background-color: #faf3f3;
}

#page1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 100px;
  height: 16px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #696c74;
}

#page2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 150px;
  height: 16px;
  left: 119px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #696c74;
}

#arrow1,
#arrow2 {
  color: #d5d9de;
  width: 15.5px;
  height: 18.5px;
}

.whitespace {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  position: absolute;
  width: 1360px;
  // height: 712px;
  min-height: 712px;
  left: 24px;
  top: 259px;
  // max-height: fit-content;
  /* Neutral/White */

  background: #ffffff;
  border-radius: 3px;
  font-family: "Averta";
}
