
.third {
  display: table-cell;
  padding-left: 26px;

  width: 30rem;
}
.third p{
  margin-top: 0%;
}

/* .backdrop {
  color: "#fff";
} */

.third button {
  width: 19rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
