@font-face {
  font-family: "Averta";
  src: url("../../../assets/fonts/AvertaDemo-Regular.otf");
}
.third {
  display: table-cell;
  padding-left: 26px;

  width: 30rem;
}
.third p{
  margin-top: 0%;
}

/* .backdrop {
  color: "#fff";
} */

.third button {
  font-family: "Averta";
  width: 19rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Averta';
}


