.first {
  position: static;
  left: 0%;
  right: 76.1%;
  top: 0%;
  bottom: 85.11%;
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  padding-right: 24px;

  color: #2d2d2d;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.start{
  margin-left: -6px;
}

.first input {
  background: url("../../../assets/icon/calender.png") no-repeat left;
  background-position: 12px;
  background-size: 26px;
  cursor: pointer;
  padding-left: 3.2rem;
  border: 1px solid #d5d9de;
  box-sizing: border-box;
  border-radius: 5px;
  height: 40px;
  position: static;
  color: #2d2d2d;
  
}

.SDCalenderPopup {
  position: absolute;
  left: 27px;
  top: 158px;
  z-index: 9;
  
}
.EDCalenderPopup {
  position: absolute;
  left: 27px;
  top: 248px;
  z-index: 9;
}
