.second {
  display: table-cell;
  padding-left: 1.2rem;
  padding-right: auto;
  width: 90rem;
}


.second p {
  margin-top: 0%;
}

/* .multiselect label{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2d2d2d;
} */
/* .second label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2d2d2d;
} */

/* option {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2d2d2d;
} */
