.list{
    list-style-type: none;
    /* Select All */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 16px 0px;

position: static;
width: 235px;
// height: 40px;
left: 0px;
top: 0px;

background: #FFFFFF;
mix-blend-mode: multiply;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}

.line{
    /* Line 5 */
    border: 0px;
    border-top: 1px solid #EFF1F3;

position: static;
width: 203px;
height: 0px;
left: 16px;
top: 40px;

/* Neutral/Lighter */

// border: 1px solid #EFF1F3;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}

.item_div{

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 203px;
    height: 24px;
    left: calc(50% - 203px/2);
    top: calc(50% - 24px/2);
    white-space: nowrap;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    }
    
    .item_label{
        // position: static;
        // width: 163px;
        // height: 24px;
        // left: 40px;
        // top: 0px;
        
        /* Text/Body */
        
        font-family: 'Averta';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        max-width: 70%;
        /* identical to box height, or 150% */
        
        
        /* Neutral/Darkest */
        
        color: #2D2D2D;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 1;
        flex-grow: 1;
        margin: 0px 16px;
    }
    
    .line{
        /* Line 5 */
    
    
    position: static;
    width: 203px;
    height: 0px;
    left: 16px;
    top: 40px;
    
    /* Neutral/Lighter */
    
    border: 1px solid #EFF1F3;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    }