.item_div{

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 203px;
height: 24px;
left: calc(50% - 203px/2);
top: calc(50% - 24px/2);


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}

.item_label{
    // position: static;
    // width: 163px;
    // height: 24px;
    // left: 40px;
    // top: 0px;
    
    /* Text/Body */
    
    font-family: 'Averta';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* Neutral/Darkest */
    
    color: #2D2D2D;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 16px;
}
