@font-face {
    font-family: 'Averta';
    src: url(../../assets/AvertaStd-Regular.ttf);
  }


.heading_divstyle{
    display: flex;
    flex-direction: row;
    align-items: center;
    // padding: 12px;

    position: static;
    width: 1360px;
    height: 56px;
    left: 0px;
    top: 0px;

    /* Neutral/Lighter */

    background: #EFF1F3;
}

#heading_headingstyle{
    padding: 10px;
    position:static;
width: 1294px;
height: 26px;
left: 54px;
top: 15px;

/* Display/Mobile/H4 */

font-family: 'Averta';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 144% */


/* Neutral/Darkest */

color: #2D2D2D;
}